
ul li a{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
nav ol li a{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
nav ol li a:hover{
    color: white;
    text-decoration: none;
}
ul li a:hover{
    color: white;
    text-decoration: none;
}

ul li {
    float: left;
    text-align: center;
    
    
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul li ul li {
    display: none;
}
ul li:hover ul li {
    display: block;
}

nav div ul li {
    margin-left: 50px;
    margin-right: 50px;
}

.white{
    color: white !important;
}

footer{
    position: relative !important;
    left: 0;
    bottom: 0;
    text-align: center!important;
    color: white;
    background-color: #000;
    margin: 0;
}
.footer{
    
    color: white;
    background-color: #000;
    text-align: center;
    margin: 0;
}

.naslov{
    
    font-size: 58px;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.noMargin{
    margin: 0;
}

#pozadina{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    background: url('../../images/bg.jpg') no-repeat;
    background-blend-mode: lighten;
    background-size: cover;
}

.padding{
    padding: 25px;
}

.marginTop{
    margin-top: 15px;
}

.marginLeft{
    margin-left: 15px;
}

.marginRight{
    margin-right: 15px;
}

.marginBot{
    margin-bottom: 15px;
}


.tile{
    background-color: darkgrey;
    
    border: lightgray solid 25px;
}

.description{
    font-size: larger;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

.noPadding{
    padding-right: 0px !important;
}


.title{
    font-weight: normal;
    font-size:20px;
    color: white;
}

#title{
    font-weight: 900;
    font-size:50px !important;
    color: white;
    text-align: center;
}


.nothing{
    text-decoration: none;
    color: black;
}

:hover .nothing{
    text-decoration: none;
    color: inherit;
}


.circle{
    border-radius: .5rem;
}

.current{
    color: white !important;
}
.previous{
    color: rgba(255, 255, 255, 0.5) !important;
}