.myHeader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 20;
    transition: 0.35s;
}

.myHeader::after{
    content: '';
    display: table;
    clear: both;
}

.navBarTop{
    position: absolute;
    top: 10% !important;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 20;
    transition: 0.35s;
}

.navBarTop::after{
    content: '';
    display: table;
    clear: both;
}

p i a{
    color: rgba(255, 255, 255);
    text-decoration: none;
}

p i a:hover{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

ul li a{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
nav ol li a{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
nav ol li a:hover{
    color: white;
    text-decoration: none;
}
ul li a:hover{
    color: white;
    text-decoration: none;
}

ul li {
    float: left;
    text-align: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul li ul li {
    display: none;
}
ul li:hover ul li {
    display: block;
}

nav div ul li {
    margin-left: 50px;
    margin-right: 50px;
}

.white{
    color: white !important;
}

footer{
    position: relative !important;
    left: 0;
    bottom: 0;
    text-align: center!important;
    color: white;
    background-color: #000;
    margin: 0;
}
.footer{
    
    color: white;
    background-color: #000;
    text-align: center;
    margin: 0;
}

.naslov{
    
    font-size: 58px;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.noMargin{
    margin: 0;
}

#pozadina{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    background: url('../../images/bg.jpg') no-repeat fixed;
    background-size: cover;
}

.padding{
    padding: 25px;
}

.marginTop{
    margin-top: 20px;
}

.marginLeft{
    margin-left: 15px;
}

.marginRight{
    margin-right: 15px;
}

.marginBot{
    margin-bottom: 15px;
}


.tile{
    background-color: darkgrey;
    
    border: lightgray solid 25px;
}

.description{
    font-size: larger;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

.noPadding{
    padding: 0px !important;
}


.title{
    font-weight: normal;
    font-size:20px;
    color: white;
}

#title{
    font-weight: 900;
    font-size:50px !important;
    color: white;
    text-align: center;
}

#title2{
    font-weight: 900;
    font-size:30px !important;
    color: white;
    text-align: center;
}



.nothing{
    text-decoration: none;
    color: black;
}

:hover .nothing{
    text-decoration: none;
    color: inherit;
}


.circle{
    border-radius: .5rem;
}

.current{
    color: white !important;
}
.previous{
    color: rgba(255, 255, 255, 0.5) !important;
}


.btn-pos{
    width: 45%;
    text-align: center;
    color: lightgray;
}
.btn-pos:hover{
    left: calc(33%+15);
    color: blanchedalmond;
}

.filter{
    width: calc(100% - 30px);
    text-align: center;
    color: lightgray;
    font-size: large;
    margin-left: 15px;
    margin-right: 15px;
}

.filter:hover{
    color: blanchedalmond;
}

.sakriveno{
    visibility: hidden;
}

.vidljivo{
    visibility: visible;
}

.komentar{
    color: white !important;
}

.btn-middle{
    width: 30%;
}


.ocena{
    border-radius: .5rem;
    background-color: #343a40;
    color: white;
    width: 30%;
    height: 38px;
}

.margin{
    margin: 10px;
}


.checkText{
    font-size: x-large;
    font-weight: 500;
}

.tile2{
    border: rgba(255, 255, 255, .5) solid 25px;
    background-color: darkgray;
}

.tile3{
    border: lightgray double 40px;
    background-color: none;
}
.tile4{
    background-color: darkgray;
    border: lightgray outset 20px;
}

.maliPadding{
    padding: 15px;
}

.tile5{
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    font-size: 22px;
    font-weight: 600;
    height: 40px;
    
}

.otkaziDugme {
    background-color: black;
    color: white;
    border-radius: 0.5rem;
}

.otkaziDugme:hover {
    background-color: #000;
    color: darkgray;
    border-radius: 0.5rem;
}


.tileTreninzi{
    border: lightgray double 20px;
    background-color: none;
}

.rounded-circle-my{
    border-radius: 50% !important;
} 

.img-thumbnail-my{
    padding: .25rem;
    background-color: darkgray;
    border: darkgray double 1px;
    max-width: 100%;
    height: auto;
}

.bigMarginLeft{
    margin-left: 250px;
}


.napomena{
    color: rgb(196, 0, 0) !important;
    font-size: 16px !important;
}

.nutricionista{
    color: black;
    font-size: 38px;
    font-weight: 700;
}

.inputNut {
    background-color: black;
    color: white;
    border-radius: 0.5rem;
}

.inputNut:focus {
    background-color: black;
    color: white;
    border-radius: 0.5rem;
}

.black{
    color: black;
}


.ONama{
    font-size: 25px;
    text-align: justify;
    padding: 20px;
    color: white;
    font-weight: 500;
    background-color: rgb(0,0,0,0.6);
    border: lightgray double 20px;
}

.ONama .overlay {
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    display: table;
    position: absolute;
    bottom: 7.6%;
    height: 20%;
    transition: .5s ease;
    font-size: 20px;
    padding: 20px;
    width: 79%;
    opacity: 0;
    text-align: center;
  }

  .ONama:hover .overlay
{
 opacity: 1;
}


hr{
    border: lightgray solid 2pt;
}

#map {
    height: 400px;
    width: 100%;
   }

.naslovna {
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    display: table;
    position: absolute;
    bottom: 7.6%;
    height: 20%;
    transition: .5s ease;
    font-size: 20px;
    padding: 20px;
    width: 79%;
    opacity: 0;
    text-align: center;
}

.strelicaLevo{
    align-items: center !important;
    width: 5% !important;
}
.strelicaDesno{
    align-items: center !important;
    width: 5% !important;
}


