
ul li a{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
ul li a:hover{
    color: white;
    text-decoration: none;
}

ul li {
    float: left;
    text-align: center;
    
    
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul li ul li {
    display: none;
}
ul li:hover ul li {
    display: block;
}

nav div ul li {
    margin-left: 80px;
    margin-right: 80px;
}

.white{
    color: white !important;
}

footer{
    position: relative !important;
    left: 0;
    bottom: 0;
    text-align: center!important;
    color: white;
    background-color: #000;
    margin: 0;
}
.footer{
    
    color: white;
    background-color: #000;
    text-align: center;
    margin: 0;
    width: 100%;
}

.naslov{
    
    font-size: 58px;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.noMargin{
    margin: 0;
}